@mixin mint-card-bg {
  background: var(--primary-very-low);

  @media (prefers-color-scheme: light) {
    background: var(--header_background);
  }
}

:root {
  --mint-border-radius: 10px;
  --mint-hover-shadow: 4px 4px var(--tertiary-high);
  --mint-color-mint: #FF5C16;
  --mint-color-blue: #89B0FF;
}

$color-square-gradient: linear-gradient(
  4deg,
  rgb(255, 92, 22, 0.29) 55%,
  rgb(137, 176, 255, 0.08) 100%
);
$color-square-webkit-gradient: -webkit-linear-gradient(
  4deg,
  rgb(255, 92, 22, 0.29) 55%,
  rgb(137, 176, 255, 0.08) 100%
);
