// MetaMask Builder Hub - Desktop Styles (based on Mint Theme)

$color-square-gradient: linear-gradient(
  4deg,
  rgb(255, 92, 22, 0.29) 55%,
  rgb(137, 176, 255, 0.08) 100%
);

$color-circle-gradient: #FFE5D9;

body:not(.navigation-categories, .navigation-topics) #main-outlet {
  border-radius: var(--mint-border-radius);
  box-shadow:
    0 8px 60px 0 rgb(103, 151, 255, 0.1),
    0 12px 90px 0 rgb(133, 255, 103, 0.1);
  padding: 2em;
  border-top: 8px solid var(--tertiary);
  margin-top: 1em;
  background: var(--primary-very-low);
}

.boxed.white {
  background: var(--primary-very-low);
}

#main-outlet::after {
  content: "";
  display: block;
  position: fixed;
  z-index: -1;
  width: 500px;
  height: 500px;
  border-radius: 2000px;
  background: $color-circle-gradient;
  right: 1px;
  top: -57px;
}

#main-outlet::before {
  content: "";
  display: block;
  position: fixed;
  z-index: -1;
  width: 300px;
  height: 300px;
  border-radius: 30px;
  background: $color-square-gradient;
  left: 70px;
  top: 350px;
  transform: rotate(74deg);
  transform-origin: 0 100%;
}

// Chat styling
html body.has-sidebar-page.has-full-page-chat {
  #main-outlet-wrapper {
    gap: 2em;
  }

  #main-outlet {
    padding: 0 !important;
  }
}

.chat-composer__wrapper {
  background: transparent;
}

.full-page-chat .chat-full-page-header {
  background: var(--primary-very-low);
}

.desktop-view .has-full-page-chat {
  .chat-channel {
    height: calc(100vh - (var(--header-offset) + 3em));
  }
}

.chat-message-container,
.chat-transcript {
  background: transparent;
}

.chat-drawer .chat-drawer-container {
  border-radius: var(--mint-border-radius) var(--mint-border-radius) 0 0;
  box-shadow:
    0 8px 60px 0 rgb(103, 151, 255, 0.1),
    0 12px 90px 0 rgb(133, 255, 103, 0.1);
}
